<div class="content-container">
    <form class="edit-form" method="POST" action="/user/{{user._id}}?_method=PUT">
        <div class="field">
            <label class="label">User Name</label>
            <div class="control">
                <input class="input" type="text" name="userName" id="userName" value="{{user.userName}}">
            </div>
        </div>

        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input class="input" type="password" name="passWord" id="passWord" value="{{user.passWord}}">
            </div>
        </div>
        <div class="field">
            <label class="label">First Name</label>
            <div class="control">
                <input class="input" type="text" name="firstName" id="firstName" value="{{user.firstName}}">
            </div>
        </div>

        <div class="field">
            <label class="label">Last Name</label>
            <div class="control">
                <input class="input" type="text" name="lastName" id="lastName" value="{{user.lastName}}">
            </div>
        </div>

        <div class="field">
            <label class="label">Date of Birth</label>
            <div class="control">
                <input class="input" type="text" name="dateOfBirth" id="dateOfBirth" value="{{user.dateOfBirth}}">
            </div>
        </div>

        <div class="field">
            <div class="control">
                <input class="button btn-color" type="submit" value="UPDATE">
            </div>

        </div>

    </form>
    <form class="delete-form" method="POST" action="/user/{{user._id}}?_method=DELETE">
        <input class="button btn-delete" type="submit" value="DELETE" />
        <p class="help">WARNING!! Delete user profile</p>
    </form>
</div>