<div class="content-container">

  <h1 class="title is-1 user-welcome">Welcome Back, {{userObject.firstName}} {{userObject.lastName}}!!</h1>


  <section class="userInfo">
    <div class="info-1"><span>{{userObject.userName}}</span></div>
    <div class="info-2"><span>{{userObject.dateOfBirth}}</span></div>
    <div class="info-3">
      <div class="comments-user">
        {{#each comments}}
        <div class="card">
          <header class="card-header bg-header">
            <p class="card-header-title">
              {{author}}
            </p>
            <a href="../comment/{{_id}}" class="link-edit">EDIT</a>
            <form class="comment-delete" method="POST" action="/comment/{{_id}}?_method=DELETE">
              <input type="submit" value="X" class="delete" />
            </form>
          </header>
          <div class="card-content bg-content">
            <div class="content">
              Rating: {{rating}}
              <br>
              {{description}}
            </div>
          </div>
        </div>
        {{/each}}
      </div>

    </div>

  </section>
  <a href="/user/{{userObject._id}}/edit" class="update-link">Update Profile</a>

  <section class="bartender-info">
    {{#each bartenders}}

    <a href="{{userId}}/bartender/{{_id}}">
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">{{firstName}} {{lastName}}</p>
              <p class="subtitle is-6">{{email}}</p>
            </div>
          </div>

          <div class="content">
            {{bio}}
          </div>
        </div>
      </div>
    </a>
    {{/each}}
  </section>

</div>