<form method="POST" action="/user/{{bartender._id}}?_method=PUT">
<input type="text" name="userName" id="userName" value="{{bartender.userName}}">
<input type="password" name="passWord" id="passWord" value="{{bartender.passWord}}">
<input type="text" name="firstName" id="firstName" value="{{bartender.firstName}}">
<input type="text" name="lastName" id="lastName" value="{{bartender.lastName}}">
<input type="submit" value="SUBMIT">
</form>